.drag {
    z-index: 9;
    background-color: lightgrey;
    text-align: center;
    min-height: 250px;
    min-width: 250px;
    max-height: 330px;
    max-width: 330px;
}

/* Code below here is for dragging the item */

.drag {
    position: absolute;
    overflow: auto;
}

.draggable-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: lime;
    color: black;
}

/* Code below here is for resizing */

.drag .resizer-right {
    width: 5px;
    height: 100%;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: e-resize;
}

.drag .resizer-bottom {
    width: 100%;
    height: 5px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: n-resize;
  }

.drag .resizer-both {
    width: 5px;
    height: 5px;
    background: transparent;
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: nw-resize;
}